.App {
  text-align: center;
  margin: 0 auto;
  font-family: sans-serif;
  background-image: url(https://wallpaperaccess.com/full/718094.jpg);
  background-size: cover;
  margin-top: 130px;
  margin-bottom: 50px;
  border: 7px solid #000000;
  border-radius: 20px;
  max-width: 850px;
}
h4 {
  font-size: 34px;
  font-weight: 900;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  text-align: left;
}
p {
  font-size: 50px;
  font-family: "Amatic SC", cursive;
  font-weight: bolder;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@import "loading-dots";
