footer {
  color: #000000;
  line-height: 2;
  background-color: transparent;
  bottom: 0;
  font-family: "Indie Flower", cursive;
}
.font-link {
  font-family: "Indie Flower", cursive;
  color: #000000;
}
