.WeatherForecast {
  display: inline-block;
}

.MinTemperature {
  opacity: 0.7;
  margin-left: 5px;
}

#first-forecast {
  color: #000000;
}
.col {
  font-family: "Amatic SC", cursive;
  font-size: 16px;
}
