.WeatherForecast {
  text-align: center;
}
.MinTemperature {
  opacity: 0.7;
  margin-left: 5px;
}

#first-forecast {
  text-align: center;
}
footer {
  text-align: center;
  color: #000000;
  line-height: 2;
  background-color: #ecd18c;
  bottom: 0;
  font-family: "Amatic SC", cursive;
}
